.colTitle {
    background-color: #6c757c;
    color: #FFFFFF;
    text-align: center;
    border-radius: 1em;

}

.colSubTitle {
    background-color: #6c757c;
    color: #FFFFFF;
    text-align: center;
    border-radius: 1em;

}
