
.colTitle {
    background-color: #6c757c;
    color: #FFFFFF;
    text-align: center;
    border-style: solid;
    border-color: #3c3f40;
    border-width: 1em;
    border-radius: 1.6em;

}
 
.colSubTitle {
    background-color: #6c757c;
    color: #FFFFFF;
    text-align: center;
    border-radius: 1em;
    margin-bottom: 1.5em;
}

.cardGray {
    text-align: center;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.7em;
    margin-bottom: 1em;
    margin-right: 0.7em;
    background-color: #6c757c;
    border-color: #6c757c;
    width: 280px !important
}

.cardYellow {
    text-align: center;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.7em;
    margin-bottom: 1em;
    margin-right: 0.7em;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 280px !important
}

.cardRed {
    text-align: center;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.7em;
    margin-bottom: 1em;
    margin-right: 0.7em;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 280px !important
}

.cardGreen {
    text-align: center;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.7em;
    margin-bottom: 1em;
    margin-right: 0.7em;
    background-color: #28a745;
    border-color: #28a745;
    width: 280px !important
}

@media screen and (max-width: 390px) {
    .cardGray {
        font-size: 12px;
    }
}

.rowImgName{
    border-radius: 1em;
    background-color: white;
}

.cardImg {
    align-items: center;
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 4.5em;
    border-style: solid;
    border-color: white;
    border-width: 1.5em;
}

.cardName {
    color: #000000;
    font-weight: 500;
    text-align: center;
    justify-content: center;
}

.rowEstacion{
    text-align: center;
    border-radius: 1em;
    border-style: solid;
    border-color: #6c757c;
    border-width: 0em;
    background-color: white;
    color: #000000;
}

.rowPausa{
    text-align: center;
    border-radius: 0.5em;
    background-color: white;
}

.rowCliente{
    text-align: center;
    border-radius: 1em;
    background-color: white;
}

.Offlinecard {
    background-color: #6c757c;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    border-style: solid;
    border-color: #6c757c;
    border-width: 1em;
    margin-bottom: 1em;
    color: white;
}

  .offlineImg {
    align-items: center;
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 10em;
    border-style: solid;
    border-color: #E13145;
    border-width: 0.4em;
}