.colTitle {
    background-color: #6c757c;
    color: #FFFFFF;
    text-align: center;
    border-style: solid;
    border-color: #3c3f40;
    border-width: 1em;
    border-radius: 1.6em;
}

.colBody {
    justify-content: center;
    text-align: center;
}

.cardGray {
    justify-content: center;
    text-align: center;
    background-color: #6c757c;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-right: 1.5em;
}

.cardYellow {
    justify-content: center;
    text-align: center;
    background-color: #ffc107;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-right: 1.5em;
}

.cardRed {
    justify-content: center;
    text-align: center;
    background-color: #dc3545;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-right: 1.5em;
}

.cardBody {
    background-color: white;
    font-size: 1.3em;   
    font-weight: 600;
    border-radius: 0.5em;
}