.colTitle {
    background-color: #6c757c;
    color: #FFFFFF;
    text-align: center;
    border-style: solid;
    border-color: #3c3f40;
    border-width: 1em;
    border-radius: 5em;

}

.colBody {
    justify-content: center;
    text-align: center;
}

.card {
    justify-content: center;
    text-align: center;
    background-color: #6c757c;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-right: 1.5em;
}

.cardBody {
    background-color: white;
    color: #000000;
    font-size: 1.2em;   
    font-weight: 500;
    text-align: center;
    justify-content: center;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}