.sidenav {
    height: 100%;
    width: 3.5em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .iconosUp {
    margin-top: 1.5em;
    margin-left: 0.2em;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .iconoSetting {
    margin-left: 0.2em;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 4.5em;
  }

  .iconoLogOut {
    margin-left: 0.2em;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5em;
  }
  
  .link {
    text-decoration: none !important;
    color: #818181 !important;
    font-weight: 600;
    display: inline-block !important;
    position: relative !important;
    justify-content: center;
  }

  .link:hover {
    color: #f1f1f1;
  }
  
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .iconos {font-size: 18px;}
  } */