.colTitle {
    background-color: #6c757c;
    color: #FFFFFF;
    text-align: center;
    border-style: solid;
    border-color: #3c3f40;
    border-width: 1em;
    border-radius: 1.6em;

}

.form {
    background: #6c757c;
    border-radius: 2em; 
    padding: 2em;
}

.formGroup {
    margin-bottom: 2em;
}

.labelForm {
    font-size: 2em;
    color: white;

}

.controlForm {
    font-size: 2em;

}