.LoginBox {
    width: 32em;
    height: 37em;
    background: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 80px 20px;
    }
    
    .LoginBoxLogo{
        width: 15em;
        height: 15em;
        border-radius: 50%;
        position: absolute;
        top: -7.5em;
        left: calc(50% - 7.5em);
    }
    
    .LoginBoxH1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 3.6em !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .LoginBoxLabel {
        margin: 0px;
        padding: 0px;
        font-size: 1.5em !important;
        font-weight: bold;
        display: block;
        font-family: sans-serif;
    }
    
    .LoginBoxForgotPassword {
        margin: 0px;
        padding: 0px;
        font-size: 1.5em !important;
        display: block;
        font-family: sans-serif;
    }
    
    .LoginBoxInput {
        width: 100%;
        font-family: sans-serif;
        margin-bottom: 1.6em;
        border: none;
        border-bottom: 1px solid #000;
        background: transparent;
        outline: none;
        height: 3em;
        font-size: 1.3em !important;
    }
    
    .LoginBoxButton {
        width: 100%;
        font-family: sans-serif;
        margin-bottom: 0.8em;
        border:none;
        outline: none;
        height: 2.5em;
        background-color: #2bbfe4;
        color: white;
        font-weight: bold;
        font-size: 1.6em;
    }