/* font size 65.25% = 10 px, 1 em = 10px */


body {
    background-color: #3c3f40 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

/*--------------------------------------------------------------
>>> Navbar
----------------------------------------------------------------*/

.Navbar {
    background-color: black !important;
    padding: 0px !important;
    vertical-align: middle !important;
    display: flex;
}

.NavbarBrand {
    font-size: 1.5em !important;
    font-weight: 500;
    color: white !important;
    cursor: pointer;
}

.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    font-size: 1.5em !important;
    color: #818181 !important;
}

.navLink:hover {
    color: white !important;
    transform: scale(1.05);
}

#navDropDown {
    font-size: 2em !important;
    color: #818181 !important;
}

.dropDownItem {
    font-size: 1.5em !important;
    color: #818181 !important;
}

.dropDownItem:hover {
    color: white !important;
}

@media screen and (max-width: 767px) {
    .NavbarBrand {
        display: none;
    }
}

/*--------------------------------------------------------------
>>> Full Dashboard
----------------------------------------------------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12;
    background-color: #2196F3;
    gap: 5px
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .item1{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  .item2 {
    grid-column-start: 4;
    grid-column-end: 11;
  }

  .item3 {
    grid-column-start: 11;
    grid-column-end: 13;
  }

  
@media screen and (max-width: 767px) {
    .containerfk {
        display: none;
    }
}

@media screen and (max-width: 14px) {
    .containerfk {
        display: none;
    }
}